# Python cache files
__pycache__/
*.pyc

# Virtual environment folders
venv/
env/

# SQLite database file
db.sqlite3

# Django migrations (можно исключить, если хочешь хранить миграции)
*/migrations/*.py
*/migrations/*.pyc

# Static and media files (если есть)
static/
media/

# IDE/editor configs
.vscode/
.idea/

# Environment variables file
.env

# Logs
*.log

# Docker files (если есть)
Dockerfile
docker-compose.yml
